.card {
  width: 240px;
  height: 350px;
  display: inline-block;
  
}

.cardStyles {
  display: flex;
  position: absolute;
  will-change: transform;
  backface-visibility: hidden;
  flex-wrap: wrap;
  }

.cardContainer {
  align-items: center;
  width: 280px;
  height: 380px;
  display: inline-flex;
}

.cardSectionFront {
  position: relative;
  height: 350px;
  }

  .cardSectionBack {
    position: relative;
    display: flex;
    flex-flow: column;
  }
  .cardSectionBack>div{
    flex-direction: column;
  }

.flip {
  position: absolute;
  bottom: 15px;
  right: 8px;
  margin: 8px;
  opacity: 75%;
  }

.header {
  font-family: 'Homemade Apple'; 
  font-style: 'cursive';
  font-size: xx-large;
  text-align: center;
  font-weight: 600;
  padding-top: 0.3em;
  
}

.h1 {
  font-family: 'Special Elite', 'cursive'; 
  font-style: 'cursive';
  padding: auto;
}

.cover {
  height: 350px;
}

.coverTitle {
  color: #000;
  padding-top: 100px;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-size: 28px;
}

.container{
  display: flex;
  align-items: center;
}
.editForm{
  width: 50%;
  display: inline-flex;
  padding: 1em;
}
.editForm .mantine-InputWrapper-root{
  width: 320px;
}

.categoryList li{
  display: inline-flex;
  padding: 0.25em;
  list-style-type: none;
}

.categoryList{

  margin: 8px;
  padding-inline-start: 0px;
  align-items:center;
}