.card {
  width: 250px;
  height: 350px;
  display: inline-block;
  margin: 15px;
}

.cardStyles {
  display: flex;
  position: absolute;
  will-change: transform;
  backface-visibility: hidden;
  flex-wrap: wrap;
}

.cardContainer {
  align-items: center;
  width: 250px;
  height: 350px;
  display: inline-grid;
}

.cardSection {
  position: relative;
  }

.more {
  position: absolute;
  bottom: 15px;
  right: 8px;
  margin: 8px;
  }

.back {
  position: absolute;
  top: 35px;
  right: 8px;
  margin: 8px;
}

